<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Diary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D0D8FAEE1CB17284001665B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0D8FB021CB17284001665B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0D8FB0D1CB17284001665B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
